.login-container {
  max-width: 300px;
  margin: 60px auto;
  padding: 20px;
  background: white;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 60px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #079c45;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
